# proprietary AoC test data
example*.txt
puzzle*.txt
# and its related Unity metadata files, so we won't end up with metadata without the actucal content
/unity/**/example*.txt.meta
/unity/**/puzzle*.txt.meta
